@import "./base/reset.css";
@import "./base/variables.css";

@import "./layout/header.css";
@import "./layout/footer.css";


@import "./sections/ai-uses.css";
@import "./sections/analytics.css";
@import "./sections/bento.css";
@import "./sections/hero.css";
@import "./sections/social-proof.css";
@import "./sections/trial.css";