:root {
	--paper-background: #fff;
	--default-background: #f6f5f4;
	--border-color: #e5e5e5;
	--xs-font-size: 9.5px;
	--sm-font-size: 12px;
	--md-font-size: 14px;
	--lg-font-size: 16px;
	--btn-primary-bg: #0075de;
	--btn-primary-bg-hover: #015bab;
	--default-box-shadow: 0px 20px 50px #00000014, 0px 6px 16px #0000000a;
	--color-text-light: #0000008a;
	--color-border: #0000001a;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: var(--lg-font-size);
	font-weight: 500;
	height: 100%;
	overflow: auto;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	color: rgba(0, 0, 0, 0.9);
}

#header-container {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	background-color: var(--paper-background);
	padding: 18px 25px 14px;
	/* border-bottom: 1px solid transparent; */
	animation: header-border linear forwards;
	animation-timeline: scroll();
	animation-range: 1px 0px;
	z-index: 10;
}

#navbar {
	height: auto;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
}

#nav-links-section {
	padding: 0;
	margin: 0;
}

#nav-links-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	height: fit-content;
}

.nav-link-item {
	padding: 5px 12px;
	text-decoration: none;
	line-height: 20px;
	font-size: var(--md-font-size);
}

.expandable-nav-link {
	display: flex;
	align-items: center;
	gap: 8px;
}

.expandable-nav-link i {
	font-size: var(--xs-font-size);
}

.nav-link-item:hover {
	background-color: #0000000d;
	border-radius: 4px;
	cursor: pointer;
}

#auth-links {
	display: flex;
	gap: 14px;
	justify-content: end;
	align-items: center;
	margin-top: -3px;
}

.login-btn {
	font-size: var(--md-font-size);
}

#notion-free-btn {
	padding: 9px 14.5px 10px 14.5px;
	background-color: var(--btn-primary-bg);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: var(--md-font-size);
	font-weight: 400;
	cursor: pointer;
	transition: background-color 0.3s ease;
	letter-spacing: 0.1px;
}

.hamburger-menu {
	width: 22px;
	height: 22px;
	display: none;
}

.hamburger-menu:active {
	display: none;
}

#main-container {
	position: relative;
	z-index: 5;
}

#fall-hero-animation {
	padding: 0 4rem;
}

#center-container {
	margin: 1rem auto;
	max-width: 1252px;
}

#acme-inc {
	border: 1px solid var(--border-color);
	border-radius: 8px;
	box-shadow: var(--default-box-shadow);
	aspect-ratio: 2560 / 1600;
}

#hero-animation-container {
	margin: 10px auto 0px;
	max-width: 768px;
}

#hero-animation {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
}

#hero-am-content{
	display: flex;
	justify-content: center;
}

#hero-am-text-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	min-width: 450px;
	max-width: 1200px;
	box-sizing: border-box;
	margin-top: 9px;
	width: fit-content;
}

#hero-am-heading {
	text-wrap: balance;
	text-align: center;
	max-width: 55%;
	font-size: 4rem;
	margin: 0;
	padding: 0;
	text-wrap: balance;
	text-align: center;
	font-weight: 700;
	cursor: default;
	line-height: 64px;
}

#hero-am-subheading {
	text-align: center;
	text-wrap: balance;
	font-weight: 400;
	font-size: 1.25rem;
	max-width: 700px;
	margin: 0;
	cursor: default;
	word-spacing: 0.060rem;
	line-height: 28px;
}

#hero-am-buttons {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	margin-top: 0.75rem;
}

#hero-am-buttons button {
	padding: 1rem 1.25rem;
	min-height: 2.875rem;
	background-color: var(--btn-primary-bg);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: var(--lg-font-size);
	font-weight: 600;
	cursor: pointer;
}

#hero-am-buttons button:hover {
	background-color: var(--btn-primary-bg-hover);
}

#hero-am-buttons button:last-child {
	padding: 1rem 1.25rem;
	min-height: 2.875rem;
	background-color: #e6f3fe;
	color: #005bab;
	border: none;
	border-radius: 8px;
	font-size: var(--lg-font-size);
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#hero-am-buttons button:last-child:hover {
	background-color: #f2f9ff;
}

#product-image-container {
	margin-top: 1.8rem;
}

#logoWallStickyWrapper {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	bottom: 0;
	margin: 4rem auto 0 auto;
	max-width: 100dvw;
	background-color: var(--paper-background);
	padding: 1.5rem 0;
}

#logoWallStickyWrapperContainer {
	display: flex;
	justify-content: space-between;
	row-gap: 16px;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	max-width: 1252px;
	width: 100%;
}

#logoWallText {
	color: #0000008a;
	margin: 0;
	font-weight: 400;
	font-size: var(--md-font-size);
	min-width: 20ch;
}

#logoWallImageContainer {
	display: contents;
	max-width: 100%;
	width: 100%;
}

.logoWallImage {
	max-width: 96px;
	box-sizing: border-box;
	position: relative;
}

.logoWallImage a {
	text-decoration: none;
	position: relative;
	margin-inline-start: calc(-1px - 1rem);
	margin-inline-end: calc(-1px - 1rem);
	margin-block-start: calc(-1px - 0.5rem);
	margin-block-end: calc(-1px - 0.5rem);
	width: 100%;
}

.dot {
	width: 4px;
	height: 4px;
	background-color: #78736f;
	border-radius: 100%;
	position: absolute;
	right: -20%;
	top: 10%;
}

@keyframes header-border {
	to {
		border-bottom-color: var(--border-color);
		box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
	}
}

@media screen and (max-width: 840px) {
	.login-btn {
		display: none;
	}
}

@media screen and (max-width: 1080px) {
	#header-container {
		padding: 18px 16px 15px 18px;
	}
	#auth-links {
		gap: 16px;
	}
	@keyframes header-border {
		to {
			border-bottom-color: var(--border-color);
			/* box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3); */
		}
	}
}

@media screen and (max-width: 1199px) {
	#navbar {
		grid-template-columns: 1fr 1fr;
	}
	#nav-links-section {
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
}

#fall-lightGrayBg {
	padding: 0 4rem;
	background-color: #f6f5f4;
}

#bentoContainer {
	margin: 0rem auto;
	max-width: 1252px;
	padding: 4rem 0;
	position: relative;
	cursor: default;
}

#intro-3 {
	font-size: 3.85rem;
	line-height: 56px;
	margin: 0;
	margin-bottom: 2rem;
}

#bentoCarousel-container {
	background-color: var(--paper-background);
	display: grid;
	grid-template: min-content auto / 1fr 2fr;
	border-radius: 16px;
	overflow: hidden;
}

#bentoCarousel-first {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

#badged-heading {
	display: flex;
	align-items: center;
	gap: 8px;
}

#badged-heading h4 {
	margin: 0;
	font-size: var(--lg-font-size);
	font-weight: 400;
	line-height: 24px;
}

#badged-heading div {
	color: #005bab;
	background-color: #f2f9ff;
	font-size: var(--sm-font-size);
	font-weight: 500;
	padding: 2px 7px;
	border-radius: 1000px;
}

#bentoCarousel-heading {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-wrap: balance;
}

#bentoCarousel-heading p {
	margin: 0;
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
}

#arrow-right {
	background-color: black;
	width: 32px;
	height: 32px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

#arrow-right span {
	color: white;
}

#bento-video-section {
	background-image: url("https://www.notion.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fspoqsaf9291f%2F4OTM5AmiifFydzyiBJQ8EG%2F31a43265a305dd016808647741aebaf6%2Faccordion-background.jpg&w=3840&q=75");
	background-size: cover;
	grid-row: span 2;
}

#bento-video-container {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding-block: 1.7rem 0;
	padding-inline: 1.7rem 0;
}

#bento-video-container video {
	aspect-ratio: 1584 / 1080;
	width: 100%;
	height: auto;
	border-top-left-radius: 16px;
}

#bentoCarousel-content {
	position: relative;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.bentoCarousel-content-divider {
	width: calc(100% - 24px);
	height: 1px;
	outline: none;
	border: none;
	padding: 0;
	margin: 0 auto;
	background-color: #e5e5e5;
}

.bentoCarousel-content-buttons h4 {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	margin: 0;
	color: #000000e6;
}

.bentoCarousel-content-buttons {
	padding: 16px;
	margin: -1px 0;
	box-sizing: border-box;
	cursor: pointer;
}

.bentoCarousel-content-buttons[aria-selected="false"]:hover {
	background-color: #dfdcd9;
	border-radius: 8px;
}

.bentoCarousel-content-buttons p {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin: 0;
	color: #00000096;
	height: 48px;
	transition: height 0.2s;
	overflow: hidden;
}

.bentoCarousel-content-buttons[aria-selected="false"] p {
	height: 0;
}
