:root {
	--paper-background: #fff;
	--default-background: #f6f5f4;
	--border-color: #e5e5e5;
	--xs-font-size: 9.5px;
	--sm-font-size: 12px;
	--md-font-size: 14px;
	--lg-font-size: 16px;
	--btn-primary-bg: #0075de;
	--btn-primary-bg-hover: #015bab;
	--default-box-shadow: 0px 20px 50px #00000014, 0px 6px 16px #0000000a;
	--color-text-light: #0000008a;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: var(--md-font-size);
	font-weight: 500;
	height: 100%;
	overflow: auto;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	color: rgba(0, 0, 0, 0.9);
}

#header-container {
	position: sticky;
	top: 0;
	box-sizing: border-box;
	background-color: var(--paper-background);
	padding: 18px 25px 14px;
	/* border-bottom: 1px solid transparent; */
	animation: header-border linear forwards;
	animation-timeline: scroll();
	animation-range: 1px 0px;
	z-index: 10;
}

#navbar {
	height: auto;
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	justify-content: space-between;
}

#nav-links-section {
	padding: 0;
	margin: 0;
}

#nav-links-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
	height: fit-content;
}

.nav-link-item {
	padding: 5px 12px;
	text-decoration: none;
	line-height: 20px;
}

.expandable-nav-link {
	display: flex;
	align-items: center;
	gap: 8px;
}

.expandable-nav-link i {
	font-size: var(--xs-font-size);
}

.nav-link-item:hover {
	background-color: #0000000d;
	border-radius: 4px;
	cursor: pointer;
}

#auth-links {
	display: flex;
	gap: 14px;
	justify-content: end;
	align-items: center;
	margin-top: -3px;
}

.login-btn {
	font-size: var(--md-font-size);
}

#notion-free-btn {
	padding: 9px 14.5px 10px 14.5px;
	background-color: var(--btn-primary-bg);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: var(--md-font-size);
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.hamburger-menu {
	width: 22px;
	height: 22px;
	display: none;
}

.hamburger-menu:active {
	display: none;
}

#main-container {
	position: relative;
	z-index: 5;
}

#fall-hero-animation {
	padding: 0 4rem;
}

#center-container {
	margin: 1rem auto;
	max-width: 1252px;
}

#acme-inc {
	border: 1px solid var(--border-color);
	border-radius: 8px;
	box-shadow: var(--default-box-shadow);
	aspect-ratio: 2560 / 1600;
}

#hero-animation-container {
	margin: 10px auto;
	width: 100%;
}

#hero-animation {
	display: block;
	margin: auto;
	width: 768px;
}

#hero-am-text-container {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	max-width: 100%;
	align-items: center;
}

#hero-am-heading {
	text-wrap: balance;
	text-align: center;
	width: 38%;
	font-size: 4.55rem;
	margin: 10px 0 0 0;
	font-weight: 700;
	cursor: default;
	line-height: 64px;
}

#hero-am-subheading {
	text-align: center;
	text-wrap: balance;
	font-weight: 400;
	font-size: 1.4rem;
	max-width: 700px;
	margin: 0;
	cursor: default;
	word-spacing: 0.17rem;
	line-height: 28px;
}

#hero-am-buttons {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	margin-top: 0.75rem;
}

#hero-am-buttons button {
	padding: 1rem 1.25rem;
	min-height: 2.875rem;
	background-color: var(--btn-primary-bg);
	color: #fff;
	border: none;
	border-radius: 8px;
	font-size: var(--lg-font-size);
	font-weight: 600;
	cursor: pointer;
}

#hero-am-buttons button:hover {
	background-color: var(--btn-primary-bg-hover);
}

#hero-am-buttons button:last-child {
	padding: 1rem 1.25rem;
	min-height: 2.875rem;
	background-color: #e6f3fe;
	color: #005bab;
	border: none;
	border-radius: 8px;
	font-size: var(--lg-font-size);
	font-weight: 600;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#hero-am-buttons button:last-child:hover {
	background-color: #f2f9ff;
}

#product-image-container {
	margin-top: 2.2rem;
}

#logoWallStickyWrapper {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	bottom: 0;
	margin: 4rem auto 0 auto;
	max-width: 100dvw;
	background-color: var(--paper-background);
	z-index: 10;
}

.sticky-sentinel {
	height: 1px;
	width: 100%;
	max-width: 1320px;
	background-color: var(--border-color);
	mask-image: linear-gradient(
		to right,
		#0000,
		#000 36px,
		#000 calc(100% - 36px),
		#0000 100%
	);
}

#logoWallStickyWrapperContainer {
	padding: 1.5rem 0 0 0;
	max-width: 1252px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logoWallImage {
	width: 96px;
	height: 24px;
	display: flex;
	height: fit-content;
}

.logoWallImage a {
	position: relative;
	padding: 8px 16px;
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: center;
}

.logoWallImage a::after {
	--dot-size: 0.25rem;
	content: "";
	transition: background-color 200ms ease-in;
	background-color: #78736f;
	block-size: var(--dot-size);
	border-radius: 624.9375rem;
	inline-size: 0.25rem;
	inset-block-start: calc(50% - var(--dot-size) / 2);
	inset-inline-end: 5px;
	position: absolute;
}

.logoWallImage a:hover {
	background-color: #f6f5f4;
	border-radius: 0.5rem;
}

.logoWallImage a:hover::after {
	background-color: #097fe8;
}

#logoWallImageContainer {
	display: contents;
}

.normalImage {
	display: contents;
}

#logoWallText {
	color: var(--color-text-light);
	margin: 0;
	font-weight: 400;
	min-width: 20ch;
}

@keyframes header-border {
	to {
		border-bottom-color: var(--border-color);
		box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3);
	}
}

@media screen and (max-width: 840px) {
	.login-btn {
		display: none;
	}
}

@media screen and (max-width: 1080px) {
	#header-container {
		padding: 18px 16px 15px 18px;
	}
	#auth-links {
		gap: 16px;
	}
	@keyframes header-border {
		to {
			border-bottom-color: var(--border-color);
			/* box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.3); */
		}
	}
}

@media screen and (max-width: 1199px) {
	#navbar {
		grid-template-columns: 1fr 1fr;
	}
	#nav-links-section {
		display: none;
	}
	.hamburger-menu {
		display: block;
	}
}

#fall-lightGrayBg{
	padding: 0 4rem;
	background-color: #f6f5f4;
}

#bentoContainer {
	margin: 0rem auto;
	max-width: 1252px;
	padding-top: 4rem;
    padding-bottom: 4rem;
}

#intro-3 {
	font-size: 3.85rem;
	line-height: 56px;
	margin: 0;
}