footer {
	flex-direction: row;
	gap: 24px;
	padding: 80px 125px;
	color: var(--color-text-header);
	display: flex;
	position: relative;
	margin: 0 auto;
	max-width: calc(1252px + 2 * 125px);
}

.notion-license-container {
	display: flex;
	align-items: flex-start;
	width: 25%;
	flex-direction: column;
	gap: 36px;
}

.notion-svg {
	display: flex;
	height: 39px;
}

.license-social-links {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.social-links {
	display: flex;
	margin: -6px;
	padding: 0;
	gap: 2px;
}

.social-links a {
	padding: 0.375rem;
	transition: background-color 0.15s;
	min-height: 1.875rem;
	border-radius: var(--space-sm);
	border: 1px solid #0000;
}

.social-links a:hover {
	background-color: var(--color-border);
}

.shareInstagram {
	color: var(--color-text-light);
}

.shareX {
	color: var(--color-text-light);
}

.shareLinkedIn {
	color: var(--color-text-light);
}

.shareFacebook {
	color: var(--color-text-light);
}

.shareYouTube {
	color: var(--color-text-light);
}

.shareInstagram:hover {
	color: #000;
}

.shareX:hover {
	color: #000;
}

.shareLinkedIn:hover {
	color: #3071aa;
}

.shareFacebook:hover {
	color: #4267b2;
}

.shareYouTube:hover {
	color: red;
}

.social-links a svg {
	width: 18px;
	height: 18px;
	display: block;
	fill: currentColor;
	flex-shrink: 0;
}

.license-info {
	margin-top: 36px;
	gap: 4px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.license-info button {
	color: #000000f2;
	font-size: var(--font-size-base);
	font-weight: 500;
	border: 1px solid var(--color-border);
	min-height: 2.25rem;
	padding: var(--space-xs) 0.875rem;
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: var(--paper-background);
	cursor: pointer;
	border-radius: var(--space-sm);
}

.license-info button:hover {
	background-color: var(--default-background);
}

.license-info div {
	min-height: 8px;
	width: 100%;
}

.license-info p {
	font-size: var(--font-size-sm);
	font-weight: 400;
	color: var(--color-text-light);

	min-height: 20px;
	display: flex;
	align-items: center;
}

.cookie-settings {
	cursor: pointer;
}

.copyright {
	cursor: default;
}

.notion-links-container {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(4, minmax(10px, 1fr));
	column-gap: 24px;
	flex: 1 0 auto;
	height: fit-content;
}

.notion-links-content {
	padding: 0;
	list-style: none;
	page-break-inside: avoid;
	break-inside: avoid;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 0 36px;
}

.notion-links-content h6 {
	font-size: 0.9375rem;
	font-weight: 600;

	min-height: 20px;
	display: flex;
	align-items: center;
	cursor: default;
}

.notion-links-content a {
	font-size: 0.9375rem;
	font-weight: 400;
	display: block;
	cursor: pointer;
	color: #31302e;

	margin-top: 0.4rem;
	line-height: 1.35rem;
	text-align: left;
	word-wrap: break-word;
	text-decoration: none;
}

.notion-links-content a:hover {
	text-decoration: underline;
}

.notion-links-content h5 {
	margin-top: auto;
	font-size: 0.9375rem;
	font-weight: 700;
	min-height: 20px;
	display: flex;
	align-items: center;
	cursor: default;
}

.notion-links-content h5 span {
	margin-inline-start: 0.2em;
}

#explore-more {
	display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}

@media screen and (max-width: 400px) {
	footer {
		padding: 40px 16px;
		display: flex;
		flex-direction: column;
		gap: 36px;
	}
	.notion-license-container {
		width: 100%;
	}
	.notion-links-container {
		width: 100%;
        grid-template-columns: repeat(2, 1fr);
	}
}