.analytics-section {
	background-color: var(--paper-background);
	padding: var(--space-xxl);
	position: relative;
	margin: 0 auto;
}

.analytics-header-container {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: var(--space-lg);
	max-width: var(--max-content-width);
	margin: 0 auto var(--space-xl) auto;
}

.analytics-headings {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.analytics-headings h2 {
	font-size: var(--font-size-lg-heading);
	line-height: var(--lh-lg);
	text-wrap: balance;
	min-width: 628px;
}

.analytics-headings p {
	font-weight: 400;
	letter-spacing: 0;
}

.analytics-headings a {
	text-decoration: none;
	color: var(--btn-primary-bg);
	font-weight: 400;
}

.analytics-headings a:hover {
	text-decoration: underline;
	color: #00396b;
}

.analytics-header-img-container {
	display: flex;
	align-items: end;
	max-width: 600px;
}

.fasset-calculator {
	width: 100%;
	height: auto;
	aspect-ratio: auto 1168 / 144;
}

.startup-pricing-calculator {
	padding: var(--space-lg);
	border: 1px solid var(--border-color);
	max-width: var(--max-content-width);
	border-radius: var(--space-sm);
	margin: 0 auto;
	border-radius: var(--radius-xl);
}

.startup-pricing-calculator:hover {
	box-shadow:
		0px 4px 18px #0000000a,
		0px 2.025px 7.84688px rgba(0, 0, 0, 0.027),
		0px 0.8px 2.925px #00000005,
		0px 0.175px 1.04062px rgba(0, 0, 0, 0.013);
}

.checkbox-section {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column: 1 / -1;
	column-gap: var(--space-lg);
	margin-right: calc(var(--space-lg) * -1);
	padding: 0 var(--space-lg) 0 0;
	row-gap: 0.3rem;
}

.checkbox-container {
	grid-column: span 4;
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 0.4rem;
	cursor: pointer;
	padding: var(--space-xs) 0;
}

.checkbox-container label {
	font-size: var(--font-size-base);
	font-weight: 600;
	text-wrap: balance;
}

.checkbox-container label span {
	font-size: 0.75rem;
	line-height: 16px;
	font-weight: 400;
	color: var(--color-text-light);

	margin-inline-start: var(--space-xs);
}

.calculation-section {
	margin-top: var(--space-lg);
	padding: var(--space-lg);
	background-color: #f9f9f8;
	border-radius: 0.75rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: var(--space-lg);
}

.calculation-section div {
	grid-column: span 4;
}

.team-size-section {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.team-size-section p {
	font-size: var(--font-size-base);
	font-weight: 600;

	cursor: default;
}

.team-size-section input {
	max-width: 240px;
	padding: 6px;
	border: 1px solid #ddd;
	border-radius: var(--radius-sm);
	font-size: var(--font-size-md-heading);
	font-weight: 700;
	line-height: var(--lh-md);
	letter-spacing: 0.09375rem;
	cursor: pointer;
}

.monthly-savings-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.monthly-savings-section p {
	font-size: var(--font-size-base);
	font-weight: 600;

	cursor: default;
}

.monthly-savings-section h2 {
	font-size: var(--font-size-md-heading);
	font-weight: 700;

	cursor: default;
}

.annual-savings-section {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.annual-savings-section p {
	font-size: var(--font-size-base);
	font-weight: 600;

	cursor: default;
}

.annual-savings-section h2 {
	font-size: var(--font-size-md-heading);
	font-weight: 700;

	cursor: default;
}
@media screen and (max-width: 400px) {
	.analytics-section {
		padding: 2rem round(up, 7.22223vw, 0.2rem);
	}
	.analytics-header-container {
		display: flex;
		flex-direction: column-reverse;
	}
	.analytics-headings h2 {
		font-size: var(--font-size-md);
		text-wrap: balance;
		min-width: 100%;
		line-height: 40px;
	}
	.analytics-header-img-container {
		width: 90%;
		max-width: 600px;
	}
	.analytics-header-img-container img {
		width: 100%;
		height: auto;
	}
	.checkbox-section {
		grid-template-columns: auto;
	}
	.calculation-section {
		display: flex;
		flex-direction: column;
		gap: var(--space-md);
	}
	.team-size-section {
		min-height: 74px;
	}
	.team-size-section input {
		font-size: var(--font-size-sm-heading);
		padding: 6px;
		line-height: normal;
	}
	.monthly-savings-section h2 {
		font-size: var(--font-size-sm-heading);
	}
	.annual-savings-section h2 {
		font-size: var(--font-size-sm-heading);
	}
}
