.analytics-section {
  background-color: var(--paper-background);
  padding: var(--space-xxl) var(--global-space-x);
  position: relative;
  margin: 0 auto;
}

.analytics-header-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: var(--space-lg);
  max-width: var(--max-content-width);
  margin: 0 auto var(--space-xl) auto;
}

.analytics-headings {
  display: flex;
  flex-direction: column;
}

.analytics-headings h2 {
  font-size: var(--font-size-lg-heading);
  line-height: var(--lh-lg);
  text-wrap: balance;
  min-width: 628px;
  cursor: default;
  color: var(--color-text-headings);
}

.analytics-headings p {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  cursor: default;
  color: var(--color-text-main);
}

.analytics-headings a {
  text-decoration: none;
  color: var(--btn-primary-bg);
  font-weight: 400;
  margin-top: 1rem;
  line-height: 24px;
  width: fit-content;
}

.analytics-headings a:hover {
  color: #00396b;
}

.analytics-headings a span:first-child:hover {
  text-decoration: underline;
}

.analytics-headings a span {
  text-decoration: none;
}

.analytics-headings a span:last-child {
  margin-inline-start: 0.2em;
}

.analytics-header-img-container {
  display: flex;
  align-items: end;
  max-width: 600px;
}

.fasset-calculator {
  width: 100%;
  height: auto;
  aspect-ratio: auto 1168 / 144;
}

.startup-pricing-calculator {
  padding: var(--space-lg);
  border: 1px solid var(--border-color);
  max-width: var(--max-content-width);
  margin: 0 auto;
  border-radius: var(--radius-xl);
}

.startup-pricing-calculator:hover {
  box-shadow: var(--hover-box-shadow);
}

.checkbox-section {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  column-gap: var(--space-lg);
  padding: 0 var(--space-lg);
  /* row-gap: 0.3rem; */
}

.checkbox-container {
  grid-column: span 4;
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  cursor: pointer;
  padding: var(--space-xs) 0;
}

.checkbox-container input {
  margin-top: 0.25rem;
}

.checkbox-container label {
  font-size: var(--font-size-base);
  font-weight: 600;
  text-wrap: balance;
  color: var(--color-text-main);
  line-height: var(--lh-xs);
  width: 100%;
  cursor: pointer;
}

.checkbox-container label span {
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text-light);

  margin-inline-start: var(--space-xs);
}

.team-size-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--space-lg);
  row-gap: var(--space-lg);
}

.team-size-container fieldset {
  display: contents;
}

.calculation-section {
  /* margin-top: var(--space-lg); */
  padding: var(--space-lg);
  background-color: #f9f9f8;
  border-radius: 0.75rem;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: var(--space-lg);
}

.calculation-section div,
.calculation-section label {
  grid-column: span 4;
  color: var(--color-text-main);
}

.team-size-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.team-size-section label {
  font-size: var(--font-size-base);
  font-weight: 600;
  line-height: 24px;
  cursor: default;
}

.team-size-section input {
  max-width: 240px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-md-heading);
  font-weight: 700;
  line-height: var(--lh-md);
  letter-spacing: 0.09375rem;
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  display: block;
}

.team-size-section input:hover {
  box-shadow: var(--input-box-shadow);
  border-color: var(--btn-primary-bg);
}

.team-size-section input:focus-visible {
  outline: var(--btn-primary-bg);
  outline-offset: 2px;
  outline-style: auto;
  outline-width: 1px;
}

.label-text {
  line-height: var(--lh-xs);
}

.monthly-savings-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.monthly-savings-section p {
  font-size: var(--font-size-base);
  font-weight: 600;
  line-height: 24px;
  cursor: default;
}

.monthly-savings-section h2 {
  font-size: var(--font-size-md-heading);
  font-weight: 700;
  cursor: default;
  line-height: 48px;
}

.annual-savings-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.annual-savings-section p {
  font-size: var(--font-size-base);
  font-weight: 600;
  line-height: 24px;
  cursor: default;
}

.annual-savings-section h2 {
  font-size: var(--font-size-md-heading);
  font-weight: 700;
  line-height: 48px;
  cursor: default;
}
@media screen and (max-width: 400px) {
  .analytics-section {
    padding: var(--space-xl) var(--global-space-x);
  }
  .analytics-headings h2 {
    font-size: var(--font-size-md);
    text-wrap: balance;
    min-width: 100%;
    line-height: 40px;
  }
  .analytics-header-img-container {
    width: 90%;
    max-width: 600px;
  }
  .analytics-header-img-container img {
    width: 100%;
    height: auto;
  }
  .checkbox-section {
    grid-template-columns: auto;
  }
  .calculation-section {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
  .team-size-section {
    min-height: 74px;
  }
  .team-size-section input {
    font-size: var(--font-size-sm-heading);
    padding: 6px;
    line-height: normal;
  }
}

@media screen and (max-width: 1204px) {
  .analytics-headings {
    min-width: 37%;
  }
  .analytics-headings h2 {
    font-size: var(--font-size-md-heading);
    min-width: 100%;
    max-inline-size: 24ch;
    line-height: 48px;
    letter-spacing: -0.09375rem;
  }
  .analytics-headings p {
    max-inline-size: 56ch;
  }
  .analytics-header-container {
    display: flex;
    flex-flow: row;
    align-items: end;
  }
}

@media screen and (min-width: 1080px) {
  .checkbox-section {
    margin-right: calc(var(--space-lg) * -1);
  }
  .checkbox-container {
    left: calc((1.25rem) * -1);
  }
}

@media screen and (max-width: 768px) {
  .analytics-headings {
    min-width: 100%;
  }
}

@media screen and (max-width: 1079px) {
  .analytics-headings h2 {
    font-size: var(--font-size-md);
    line-height: 40px;
    letter-spacing: 0;
  }
  .startup-pricing-calculator {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-lg);
  }
  .checkbox-section {
    grid-template-columns: auto;
    gap: 0;
    padding: var(--space-xs);
    grid-column: 1;
    margin-right: 0;
  }
  .calculation-section {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    grid-column: 2;
  }
  .team-size-section {
    margin-bottom: auto;
  }
  .monthly-savings-section h2,
  .annual-savings-section h2 {
    line-height: 48px;
  }
  .analytics-headings p {
    margin-top: 1rem;
    max-inline-size: 100%;
  }
  .checkbox-container label {
    line-height: 24px;
    gap: var(--space-sm);
  }
  .monthly-savings-section,
  .annual-savings-section {
    gap: 6px;
  }
  .checkbox-container {
    left: 0;
  }
  .team-size-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 840px) {
  .analytics-header-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
  }
  .analytics-headings h2 {
    font-size: var(--font-size-md);
    text-wrap: balance;
    min-width: 100%;
    line-height: 40px;
  }
  .analytics-header-img-container {
    width: 60%;
    max-width: 600px;
  }
  .analytics-header-img-container img {
    width: 100%;
    height: auto;
  }
  .monthly-savings-section h2,
  .annual-savings-section h2 {
    font-size: var(--font-size-md);
    line-height: 40px;
  }
  .team-size-section input {
    font-size: var(--font-size-md);
    padding: 6px;
    line-height: 40px;
  }
  .calculation-section {
    gap: var(--space-md);
  }
}

@media screen and (max-width: 600px) {
  .analytics-header-img-container {
    width: 90%;
  }
  .analytics-section {
    padding: var(--space-xl) var(--global-space-x);
  }
  .startup-pricing-calculator {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }
  .monthly-savings-section h2,
  .annual-savings-section h2 {
    font-size: var(--font-size-sm-heading);
    line-height: 32px;
  }
  .team-size-section input {
    font-size: var(--font-size-sm-heading);
    line-height: 32px;
  }
  .team-size-container {
    display: flex;
    flex-direction: column;
  }
}
