.fall-lightGrayBg {
  padding: 0 var(--global-space-x);
  background-color: var(--default-background);
}

.bentoContainer {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: var(--space-xxl) 0;
  position: relative;
  cursor: default;
}

.intro-3 {
  font-size: var(--font-size-lg-heading);
  line-height: var(--lh-lg);
  font-weight: 700;
  color: var(--color-text-headings);
  margin-bottom: var(--space-xl);
}

.fall-section {
  width: 100%;
  margin: 0 auto;
  max-width: var(--max-content-width);
  display: flex;
  flex-direction: column;
  gap: var(--space-xxl);
}

.notion-3-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.bentoCarousel-container {
  background-color: var(--paper-background);
  display: grid;
  grid-template: min-content auto / 1fr 2fr;
  border-radius: var(--radius-xl);
  overflow: hidden;
}

.bentoCarousel-container:hover {
  box-shadow: var(--hover-box-shadow);
}

.bento-ai-uses-link {
  height: fit-content;
  text-decoration: none;
  color: inherit;
}

.bentoCarousel-first {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.bentoCarousel-first:hover .arrow-right {
  background-color: #31302e;
}

.badged-heading {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badged-heading h4 {
  font-size: var(--lg-font-size);
  font-weight: 400;
  line-height: var(--lh-xs);
}

.badged-heading div {
  color: var(--btn-primary-bg-hover);
  background-color: #f2f9ff;
  font-size: var(--sm-font-size);
  font-weight: 600;
  padding: 2px 7px;
  border-radius: var(--radius-circle);
  line-height: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bento-badge {
  height: auto;
}

.coming-soon-badge {
  height: 100%;
}

.bentoCarousel-heading {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  text-wrap: balance;
}

.bentoCarousel-heading p {
  font-size: var(--font-size-bento-title);
  line-height: var(--lh-sm);
  font-weight: 700;
}

.arrow-right {
  background-color: black;
  width: 32px;
  height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-circle);
  text-decoration: none;
}

.arrow-right span {
  color: white;
}

.bento-video-section {
  background-image: url("https://www.notion.com/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fspoqsaf9291f%2F4OTM5AmiifFydzyiBJQ8EG%2F31a43265a305dd016808647741aebaf6%2Faccordion-background.jpg&w=3840&q=75");
  background-size: cover;
  grid-row: span 2;
}

.bento-video-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-block: var(--space-lg) 0;
  padding-inline: var(--space-lg) 0;
}

.slideAVideo {
  aspect-ratio: 1584 / 1080;
  width: 100%;
  height: auto;
  border-top-left-radius: 16px;
}

.bento-button-containers {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  height: 100%;
  padding-block: var(--space-lg) 0;
  padding-inline: var(--space-lg) 0;
}

.bento-button-containers button {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.left-arrow-button {
  position: absolute;
  top: 50%;
  padding: 8px;
  background-color: var(--paper-background);
  border-radius: var(--radius-circle);
  transform: translateY(-50%) scaleX(1);
  border: 1px solid rgba(0, 0, 0, 0.075);
  inset-inline-start: 16px;
  box-shadow: var(--hover-box-shadow);
}

.right-arrow-button {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--paper-background);
  border-radius: var(--radius-circle);
  top: 50%;
  transform: translateY(-50%) scaleX(1);
  padding: 8px;
  inset-inline-end: 16px;
  box-shadow: var(--hover-box-shadow);
}

.bentoCarousel_noseyHat {
  --nosey-size: 9vw;
  --nosey-size-max: 140px;
  --nosey-size-min: 100px;
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  transform: scaleX(1);
  pointer-events: none;
  z-index: 3;
}

.NoseyBento_noseyMediaContainer {
  position: relative;
  width: 9vw;
  height: 9vw;
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.05));
}

.NoseyBento_noseyVideoMask {
  mask-image: url("https://www.notion.com/front-static/nosey/fall/mask_noseyDuck.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  width: 9vw;
  height: 9vw;
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.05));
}

.noseyduckclip {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 1;
  aspect-ratio: 256/256;
}

.bentoCarousel-content {
  position: relative;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.bentoCarousel-content-divider {
  width: calc(100% - 24px);
  height: 1px;
  outline: none;
  border: none;
  padding: 0;
  margin: 0 auto;
  background-color: #e5e5e5;
}

.bentoCarousel-content-buttons h4 {
  font-size: var(--lg-font-size);
  font-weight: 500;
  line-height: var(--lh-xs);
  color: var(--color-text-main);
}

.bentoCarousel-content-buttons {
  padding: 16px;
  cursor: pointer;
  border: none;
  background-color: var(--paper-background);
  text-align: start;
}

.bentoCarousel-content-buttons[aria-selected="true"] {
  cursor: default;
}

.bentoCarousel-content-buttons[aria-selected="false"]:hover {
  background-color: #dfdcd9;
  border-radius: var(--radius-md);
}

.bentoCarousel-content-buttons p {
  font-size: 16px;
  font-weight: 400;
  line-height: var(--lh-xs);
  color: var(--color-text-muted);
  height: 48px;
  transition: height 0.2s;
  overflow: hidden;
}

.bentoCarousel-content-buttons[aria-selected="false"] p {
  height: 0;
}

.bento-article-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.sm-br-radius {
  border-radius: var(--radius-xl);
}

.sm-bentoCarousel-content {
  display: none;
}

.custom-agents-container {
  grid-column: span 2;
  min-height: 280px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--paper-background);
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.custom-agents-container:hover {
  box-shadow: var(--hover-box-shadow);
}

.custom-agent-header {
  grid-column: 1;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.bento_bentoImagesWrapper {
  display: grid;
  background-color: #78736f;
  flex-direction: row;
  max-height: 400px;
  overflow: hidden;
  grid-template-columns: 50% 50%;
  z-index: 2;
  width: 100%;
  position: relative;
}

.custom-agents-first-picture {
  margin-top: 96px;
  z-index: 1;
  align-items: start;
  background-color: var(--color-white);
  border-start-start-radius: 0.75rem;
  margin-inline-start: 24px;
  margin-bottom: -16px;
  border-top: 1px solid var(--color-border);
  border-inline-start: 1px solid var(--color-border);
  overflow: hidden;
  box-shadow: var(--hover-box-shadow);
  display: flex;
}

.custom-agents-first-picture img {
  color: transparent;
  transform: scale(1.4);
  transform-origin: top left;
  margin-top: 0;
  position: relative;
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 100%;
  z-index: 2;
  aspect-ratio: auto 1728 / 1055;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.custom-agents-second-picture {
  border-inline-start: 1px solid var(--color-border);
  margin-inline-start: 0;
  z-index: 2;
  align-items: start;
  background-color: var(--color-white);
  border-start-start-radius: 0.75rem;
  margin-top: 24px;
  margin-bottom: -16px;
  border-top: 1px solid var(--color-border);
  box-shadow: var(--hover-box-shadow);
  display: flex;
}

.custom-agents-second-picture img {
  color: transparent;
  transform: scale(1.4);
  transform-origin: top left;
  max-height: unset;
  object-fit: unset;
  height: auto;
  position: relative;
  width: 100%;
  aspect-ratio: auto 1728 / 1206;
  z-index: 2;
  border-start-start-radius: 0.75rem;
}

.customAgentVideoMask {
  mask-image: url("https://www.notion.com/front-static/nosey/fall/mask_customAgents.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  width: 9vw;
  height: 9vw;
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.05));
}

.customAgentsVideo {
  aspect-ratio: 1584 / 1080;
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
}

.custom-agents-links {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.enterprise-search-container {
  grid-column: span 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--paper-background);
}

.enterprise-search-container:hover {
  box-shadow: var(--hover-box-shadow);
}

.enterprise-search-header {
  padding: var(--space-lg);
}

.enterprise-search-header h4 {
  margin-bottom: 8px;
  font-size: var(--lg-font-size);
  font-weight: 400;
  line-height: var(--lh-xs);
}

.enterprise-search-heading {
  display: flex;
  justify-content: space-between;
}

.enterprise-search-heading p {
  font-size: var(--font-size-bento-title);
  line-height: var(--lh-sm);
  font-weight: 700;
}

.enterprise-content-wrapper {
  background-color: #f77463;
  display: block;
  width: 100%;
  position: relative;
}

.enterprise-search-picture {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  margin-top: 24px;
  margin-inline-start: 24px;
  margin-inline-end: 24px;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  overflow: hidden;
  box-shadow: var(--hover-box-shadow);
  display: flex;
}

.enterprise-search-picture img {
  color: transparent;
  border-radius: 0;
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 100%;
  z-index: 2;
  aspect-ratio: auto 1728 / 1176;
}

.enterpriseSearchVideoMask {
  mask-image: url("https://www.notion.com/front-static/nosey/fall/mask_noseyGlasses.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  width: 9vw;
  height: 9vw;
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.05));
}

.enterpriseSearchVideo {
  aspect-ratio: 1584 / 1080;
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
}

.enterprise-search-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.ai-meetings-container {
  grid-column: span 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: var(--paper-background);
}

.ai-meetings-container:hover {
  box-shadow: var(--hover-box-shadow);
}

.ai-meetings-header {
  padding: var(--space-lg);
}

.ai-meetings-header h4 {
  margin-bottom: 8px;
  font-size: var(--lg-font-size);
  font-weight: 400;
  line-height: var(--lh-xs);
}

.ai-meetings-heading {
  display: flex;
  justify-content: space-between;
}

.ai-meetings-heading p {
  font-size: var(--font-size-bento-title);
  line-height: var(--lh-sm);
  font-weight: 700;
}

.ai-meetings-content-wrapper {
  background-color: #62aef0;
  display: block;
  width: 100%;
  position: relative;
}

.ai-meetings-picture {
  border-top-left-radius: 0.75rem;
  margin-top: 24px;
  margin-inline-start: 24px;
  margin-bottom: -16px;
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
  overflow: hidden;
  box-shadow: var(--hover-box-shadow);
  display: flex;
}

.ai-meetings-picture img {
  color: transparent;
  border-radius: 0;
  width: 100%;
  object-fit: contain;
  height: auto;
  max-height: 100%;
  z-index: 2;
  aspect-ratio: auto 1728 / 1176;
}

.aiSettingsVideoMask {
  mask-image: url("https://www.notion.com/front-static/nosey/fall/mask_noseyHeadset.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  width: 9vw;
  height: 9vw;
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.05));
}

.aiSettingsVideo {
  aspect-ratio: 1584 / 1080;
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
}

.ai-settings-link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.flexible-workflows-container {
  grid-column: span 2;
  min-height: 280px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;
  background-color: var(--paper-background);
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  transition: box-shadow 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.flexible-workflows-container:hover {
  box-shadow: var(--hover-box-shadow);
}

.flexible-workflows-header {
  grid-column: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  /* gap: var(--space-xs); */
}

.flexible-workflows-header h4 {
  margin-bottom: 8px;
  font-size: var(--lg-font-size);
  font-weight: 400;
  line-height: var(--lh-xs);
}

.flexible-workflows-heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flexible-workflows-heading h2 {
  max-width: 100%;
  font-size: var(--font-size-bento-title);
  line-height: var(--lh-sm);
  font-weight: 700;
  text-wrap: balance;
}

@media screen and (min-width: 960px) {
  .flexible-workflows-heading h2 {
    max-width: 67%;
    text-wrap: balance;
  }
}

.flexible-workflows_ImagesWrapper {
  background-image: url("https://www.notion.com/_next/image?url=%2Ffront-static%2Fpages%2Fhome%2Ffall%2Fbento_bg.jpg&w=3840&q=75");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0;
  flex-direction: row;
  max-height: 400px;
  grid-column: 2;
  display: flex;
  z-index: 2;
  width: 100%;
  position: relative;
}

.flexible-workflows-first-picture {
  margin-top: 96px;
  z-index: 1;
  align-items: start;
  border-start-start-radius: 0.75rem;
  margin-inline-start: 24px;
  margin-bottom: -16px;
  border-top: 1px solid var(--color-border);
  border-inline-start: 1px solid var(--color-border);
  overflow: hidden;
  box-shadow: var(--hover-box-shadow);
  display: flex;
}

.flexible-workflows-first-picture img {
  color: transparent;
  transform: scale(1.4);
  transform-origin: top left;
  max-height: unset;
  object-fit: unset;
  height: auto;
  margin-top: 0;
  position: relative;
  border-radius: 0;
  width: 100%;
  aspect-ratio: auto 1728 / 1054;
  z-index: 2;
}

.flexible-workflows-second-picture {
  border-inline-start: 1px solid var(--color-border);
  margin-inline-start: 0;
  z-index: 2;
  align-items: start;
  background-color: var(--color-white);
  border-start-start-radius: 0.75rem;
  margin-top: 24px;
  margin-bottom: -16px;
  border-top: 1px solid var(--color-border);
  overflow: hidden;
  box-shadow: var(--hover-box-shadow);
  display: flex;
}

.flexible-workflows-second-picture img {
  color: transparent;
  transform: scale(1.4);
  transform-origin: top left;
  max-height: unset;
  object-fit: unset;
  height: auto;
  position: relative;
  width: 100%;
  aspect-ratio: auto 1728 / 1206;
  z-index: 2;
}

.flexibleWorkflowVideoMask {
  mask-image: url("https://www.notion.com/front-static/nosey/fall/mask_noseySearching.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  position: relative;
  width: 9vw;
  height: 9vw;
  max-width: 140px;
  max-height: 140px;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.05));
}

.flexibleWorkflowsVideo {
  aspect-ratio: 1584 / 1080;
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
}

.flexible-workflows-links {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.forbesQuote {
  text-align: center;
}

.forbesQuote p {
  font-size: var(--font-size-md);
  font-family: var(--lyon-font-family);
  font-weight: 400;
  line-height: 40px;
  text-indent: -0.5em;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.forbesQuote p::before {
  content: open-quote;
  font-family: var(--lyon-font-family);
}
.forbesQuote p::after {
  content: close-quote;
  font-family: var(--lyon-font-family);
}

@media screen and (max-width: 1204px) {
  .bentoCarousel-content {
    display: none;
  }
  .sm-bentoCarousel-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 24px;
  }

  .bentoCarousel-content-buttons {
    padding: 0;
  }
  .bentoCarousel-buttons {
    margin-top: 16px;
    display: flex;
    gap: 8px;
  }
  .bentoCarousel-buttons button {
    height: 10px;
    width: 10px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: var(--default-background);
  }
  .bentoCarousel-buttons button:first-child {
    background-color: #0000004d;
  }
}

@media screen and (max-width: 839px) {
  .forbesQuote p {
    font-size: var(--font-size-sm-heading);
  }
  .slideAVideo {
    border-top-left-radius: 0.375rem;
  }
}

@media screen and (max-width: 1279px) {
  .intro-3 {
    font-size: var(--font-size-md-heading);
    line-height: 48px;
  }
  .bentoCarousel-content-buttons p {
    height: auto;
  }
}

@media screen and (max-width: 1079px) {
  .bento-article-container {
    gap: 1rem;
  }
  .arrow-right {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
  .notion-3-container {
    gap: 1rem;
  }
  .enterprise-search-header h4,
  .ai-meetings-header h4,
  .flexible-workflows-header h4 {
    margin-bottom: var(--space-xs);
  }
}

@media screen and (max-width: 988px) {
  .intro-3 {
    font-size: var(--font-size-md);
    line-height: 40px;
  }
  .custom-agent-header {
    gap: var(--space-xs);
  }
}

@media screen and (max-width: 960px) {
  .custom-agents-container,
  .flexible-workflows-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .bentoCarousel-heading,
  .flexible-workflows-heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .bentoCarousel-heading div,
  .flexible-workflows-heading a {
    display: flex;
  }
  .bento_bentoImagesWrapper,
  .flexible-workflows_ImagesWrapper {
    max-height: 424px;
    display: flex;
  }
  .custom-agents-first-picture,
  .flexible-workflows-first-picture {
    width: 50%;
    margin-inline-end: 0;
    margin-inline-start: 24px;
    transform-origin: top left;
    max-width: 60%;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
    overflow: hidden;
  }
  .custom-agents-first-picture img,
  .flexible-workflows-first-picture img {
    max-height: none;
    transform: none;
  }
  .custom-agents-second-picture,
  .flexible-workflows-second-picture {
    width: 50%;
    position: absolute;
    inset-inline-end: 24px;
    top: 24px;
    bottom: 0;
    margin: 0;
    border-inline-start: 1px solid var(--color-border);
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
    z-index: 2;
  }
  .custom-agents-second-picture img,
  .flexible-workflows-second-picture img {
    transform: none;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
  }
  .enterprise-search-container,
  .ai-meetings-container {
    grid-column: span 2;
  }
  .enterprise-search-picture img,
  .ai-meetings-picture img {
    max-height: 400px;
    object-position: top left;
    object-fit: cover;
  }
  .ai-meetings-picture {
    border: 1px solid #000;
    max-width: 60%;
    margin: 24px auto 0;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border-width: 1vw 1vw 0;
  }
  .flexible-workflows-header {
    grid-column: 1;
  }
  .flexible-workflows_ImagesWrapper {
    grid-column: 1;
  }
}
@media screen and (max-width: 903px) {
  .bentoCarousel-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .bentoCarousel-first,
  .sm-bentoCarousel-content {
    padding: var(--lh-base);
  }
}

@media screen and (max-width: 768px) {
  .bento_bentoImagesWrapper,
  .flexible-workflows_ImagesWrapper {
    max-height: 309px;
    display: flex;
  }
  .enterprise-search-picture img,
  .ai-meetings-picture img {
    max-height: 285px;
  }
}

@media screen and (max-width: 400px) {
  .fall-lightGrayBg {
    padding: 2rem var(--global-space-x);
  }
  .bentoContainer {
    padding: 0;
  }
  .intro-3 {
    font-size: var(--font-size-md);
    text-wrap: balance;
    max-inline-size: 24ch;
    line-height: 40px;
  }
  .bentoCarousel-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .noseyduckclip {
    height: 100%;
  }
  .slideAVideo {
    border-top-left-radius: 0.375rem;
  }
  .bentoCarousel-heading p {
    font-size: 1.25rem;
    max-width: 88%;
  }
  .bentoCarousel-heading {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
  .bentoCarousel-first {
    padding: 1.25rem;
  }
  .custom-agents-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .custom-agents-first-picture {
    width: 50%;
    margin-inline-end: 0;
    margin-inline-start: 24px;
    transform-origin: top left;
    max-width: 60%;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
    overflow: hidden;
  }
  .custom-agents-first-picture img {
    width: auto;
    transform: none;
  }
  .custom-agents-second-picture {
    width: 50%;
    position: absolute;
    inset-inline-end: 24px;
    top: 24px;
    bottom: 0;
    margin: 0;
    border-inline-start: 1px solid var(--color-border);
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
  }
  .custom-agents-second-picture img {
    transform: none;
  }
  .enterprise-search-container {
    grid-column: span 2;
    flex-direction: column;
  }
  .enterprise-search-heading {
    text-wrap: balance;
  }
  .enterprise-search-heading p {
    font-size: 1.25rem;
    max-width: 88%;
  }
  .enterprise-search-heading a {
    align-self: flex-end;
  }
  .enterpriseSearchVideo {
    width: 100%;
  }
  .ai-meetings-container {
    grid-column: span 2;
    flex-direction: column;
  }
  .ai-meetings-heading {
    text-wrap: balance;
  }
  .ai-meetings-heading p {
    font-size: 1.25rem;
  }
  .ai-meetings-heading a {
    align-self: flex-end;
  }
  .ai-meetings-picture {
    max-width: 60%;
    margin: 24px auto 0;
    border-inline-start: 1px solid var(--color-border);
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
  }
  .flexible-workflows-container {
    display: flex;
    flex-direction: column;
  }
  .flexible-workflows-heading {
    flex-direction: row;
  }
  .flexible-workflows-heading h2 {
    font-size: 1.25rem;
  }
  .flexible-workflows-heading a {
    align-self: flex-end;
  }
  .flexible-workflows-first-picture {
    width: 50%;
    margin-inline-end: 0;
    margin-inline-start: 24px;
    transform-origin: top left;
    max-width: 60%;
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
    overflow: hidden;
    box-shadow: var(--bento-shadow-level);
  }
  .flexible-workflows-first-picture img {
    transform: none;
  }
  .flexible-workflows-second-picture {
    width: 50%;
    position: absolute;
    inset-inline-end: 24px;
    top: 24px;
    bottom: 0;
    margin: 0;
    border-inline-start: 1px solid var(--color-border);
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    border: solid black;
    border-width: 1vw 1vw 0;
  }
  .flexible-workflows-second-picture img {
    transform: none;
  }
  .fall-section {
    gap: var(--space-xl);
  }
  .forbesQuote p {
    font-size: var(--font-size-bento-title);
    margin-bottom: 16px;
    line-height: 28px;
    min-height: 28px;
  }
  .flexible-workflows-header h4 {
    line-height: normal;
  }
  .flexible-workflows_ImagesWrapper {
    max-height: 309px;
  }
  .bento-article-container {
    gap: 1rem;
  }
  .sm-br-radius {
    border-radius: 8px;
  }
  .noseyhat {
    inset-block-end: -4vw !important;
  }
  .enterprise-search-header h4 {
    margin-bottom: 4px;
  }
  .ai-meetings-header h4 {
    margin-bottom: 4px;
  }
}
