* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: var(--lg-font-size);
	font-weight: 500;
	height: 100%;
	overflow: auto;
}