*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--lg-font-size);
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  min-height: 100%;
}
