:root {
  --paper-background: #fff;
  --default-background: #f6f5f4;
  --border-color: #e5e5e5;
  --xs-font-size: 9.5px;
  --sm-font-size: 12px;
  --md-font-size: 14px;
  --lg-font-size: 16px;
  --btn-primary-bg: #0075de;
  --btn-primary-bg-hover: #015bab;
  --default-box-shadow: 0px 20px 50px #00000014, 0px 6px 16px #0000000a;
  --color-text-light: #0000008a;
  --color-border: #0000001a;

  --color-text-main: rgba(0, 0, 0, 0.9);
  --color-text-muted: #00000096;
  --color-text-header: #000000e6;
  --color-white: #ffffff;
  --bg-hover-subtle: #0000000d;

  --font-size-xl-heading: 4rem;
  --font-size-lg-heading: 3.375rem;
  --font-size-md-heading: 2.625rem;
  --font-size-md: 2rem;
  --font-size-sm-heading: 1.625rem;
  --font-size-subheading: 1.25rem;
  --font-size-bento-title: 1.375rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;

  --lh-xl: 64px;
  --lh-lg: 56px;
  --lh-md: 48px;
  --lh-sm: 28px;
  --lh-xs: 24px;
  --lh-base: 20px;

  --max-content-width: 1252px;
  --space-xxl: 4rem;
  --space-xl: 2rem;
  --space-lg: 1.5rem;
  --space-md: 1rem;
  --space-xmd: 0.75rem;
  --space-sm: 0.5rem;
  --space-xs: 0.25rem;
  --global-space-x: round(up, 7.22223vw, 0.2rem);

  --radius-xl: 16px;
  --radius-lg: 12px;
  --radius-md: 8px;
  --radius-sm: 4px;
  --radius-circle: 100%;

  --hover-box-shadow:
    0px 4px 18px #0000000a, 0px 2.025px 7.84688px rgba(0, 0, 0, 0.027), 0px 0.8px 2.925px #00000005,
    0px 0.175px 1.04062px rgba(0, 0, 0, 0.013);

  --default-font-family:
    NotionInter, Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --lyon-font-family:
    "Lyon Text", Georgia, YuMincho, "Yu Mincho", "Hiragino Mincho ProN", "Hiragino Mincho Pro",
    "Songti TC", "Songti SC", SimSun, "Nanum Myeongjo", NanumMyeongjo, Batang, serif;

  --dropdown-padding: 24px 95px 32px 87px;
}
